<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSEBuY61_8IwpHn1yu1vCx42h8Z3AZoyA</string>
	<key>GCM_SENDER_ID</key>
	<string>589232610494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jetravelplus.travelbuddy</string>
	<key>PROJECT_ID</key>
	<string>travel-buddy-a7cba</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-buddy-a7cba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589232610494:ios:fc6e1d8b40d36850ae52ef</string>
</dict>
</plist>